*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgray;
    height: 100vh;
}
.container {
    width: 70%;
    margin: auto;
}
header {
    background-color: #3d405b;
    height: 80px;
    color: white;
    text-align: center;
}
main {
    background-color: antiquewhite;
    min-height: calc(100% - 130px);
    text-align: center;
}
footer {
    background-color: #e07a5f;
    height: 60px;
    color:white;
    text-align: center;
}