* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    background-color: beige;
    height: 100vh;
}
h1 {
    text-align: center;
    background-color: lightgray;
    color: white;
}
.container {
    width: 70%;
    margin: auto;
}
.col {
    float: left;
    width: 28.66%;
    padding: 0 16px;
    border: 5px solid rosybrown;
    margin-bottom: 12px ;
    margin-left: 12px;
}
.box {
    text-align: center;
    /* padding: 20px; */
    height: 120px;
    line-height: 120px;
    
}
.col:hover {
    background-color: darkgray;
    color: white;
}
@media screen and (max-width: 900px) {
    .col {
        width: 50%;
    }
    
}
@media screen and (max-width: 600px) {
    .col {
        width: 100%;
    }
    
}
