* {
    box-sizing: border-box;
}
.boxes {
   padding-left: 115px;
}
.box {
    float: left;
    width: 25%;
    padding: 50px;
    border: 5px solid royalblue;
    margin: 20px;
}
h3,
p {
    text-align: center;
}
.box:hover { background-color: antiquewhite;}

/* img {
    float: right;

    margin-left:15px;
} */