body {
    margin: 0%;
}
ul {
    list-style-type: none;
    text-align: center;
    background-color: royalblue;
}
ul
li {
    display: inline;
}
ul
li
a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
}
a:hover {
    background-color: lightblue;
}
.active {
    background-color: lightcoral;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li.dropdown {
    display: inline-block;
  }
