* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* .boxes {
   padding-left: 115px;
}  */
 .box {
    float: left;
    width: 25%;
    padding: 10px;
    border: 1px solid lightcoral;
    margin-bottom: 12px;
    /* margin-left: 12px; */
 }
h2,
h3,
p {
    text-align: center;
}
.box:hover { background-color: antiquewhite;}

/* img {
    float: right;

    margin-left:15px;
} */
@media screen and (max-width: 900px) {
    .box {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .box {
        width: 100%;
    }
}