body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    margin: auto;
}
header {
    background-color: #3d405b;
    height: 80px;
}
footer {
    background-color: #e07a5f;
    height: 60px;
}