h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
}
h3 {
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    font-style: italic;
}
p {
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    font-style: italic;
}
div ~ p {
    background-color: lightgreen;
}