* {
    box-sizing: border-box;
}
.box {
    float: left;
    width: 33.33%;
    padding: 50px;
    border: 5px solid royalblue;
    margin: 20px;
}
h3,
p {
    text-align: center;
}
/* img {
    float: right;

    margin-left:15px;
} */