/* h1 {
    text-align: center;
    color: lightskyblue;
}

#idselector {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: lightskyblue;
}

.classselector {
    text-align: center;
    font-style: italic;
    font-size:medium ;
    font-family: Arial, Helvetica, sans-serif;
    color: lightskyblue;
}
.box {
    border-style: solid;
    border-width: 5px 5.6px 6.6px 7.5px;
    border-color: lightblue; */
    /* border: 5px   solid lightskyblue;
    height: 50px;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-emphasis-color: lightblue;
    color: lightblue;
    border-left: 6px solid lightseagreen;
    background-color: white;
    color: black;
    height: 60px;
   border: 5px solid lightcoral;
   border-radius: 15px ;
   text-align: center;
   color: lightcoral;
}

.margins {
    border: 1px solid lightgreen;
    color: lightcoral;
    margin: 10px 15px 20px 25px;
    padding: 10px 15px 20px 25px;
} */ 

 @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&family=Reem+Kufi+Ink&display=swap');
.Text {
    background-color: aliceblue;
    color: aquamarine;
}
.textCenter {
    text-align: center;
}
.textLeft {
    text-align: left;
}
.textRight {
    text-align: right;
}
.justifyContent {
    text-align: justify;
}
.textAlignlast {
    text-align-last: left;
}
 a {
    text-decoration: none;
    color: green;
    font-weight: bold;
    letter-spacing: 20px;
} 
.textCapitalize { 
     text-transform: capitalize;
    line-height: 40px;
    word-spacing: 20px;
    font-family: 'Bungee Spice', cursive;

} 
.textUppercase{
    text-transform: uppercase;
}
.textLowercase{
    text-transform: lowercase;
}
.textIndent{
    text-indent: 100px;
}
.textShadow {
    text-shadow: 2px 5px 5px rosybrown;
    color: royalblue;
    text-align: center;
}
.fontStyle {
    font-style: normal;
}
.fontVariant {
    font-variant: small-caps;
}
.fontNormal {
    font-variant: normal;
}
.fontSize {
    font-size: 2em;                     
}
/* unvisited link */
 a:link {
    text-decoration: none;
    color: red;
} 
/* visited link */
a:visited {
    color: green;
} 
/* mouse over link */
a:hover {
    color: rgb(67, 4, 35);
    text-decoration: underline;
} 
/* selected link */
a:active {
    color: rgb(175, 227, 18);
} */
 ul { 
   /* list-style-type: decimal-leading-zero; */
   list-style-position: outside;
   list-style-position: inside;
}
table, 
th, 
td {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
} 
table {
    border-collapse: collapse;
} 
li {
    display: inline;
}
.text1 {
    width: 500px;
    margin: auto;
    border: 5px solid gray;
}
.text2 {
    max-width: 500px;
    margin: auto;
    border: 5px solid gray;
}
.container5 {
    border: 10px solid grey;
    margin: auto;
    width: auto;
    position: relative;
    height: 100vh;
}
.parent-box {
    text-align: center;
    color: gray;
}
.div-static {
    border: 9px solid rgb(233, 139, 25);
    position: static;
    margin: 55px;
    width: auto;
    padding: 10px;
    left: 555px;
}
.div-relative {
    border: 9px solid rgb(233, 139, 25);
    position: relative;
    margin: 55px;
    width: auto;
    padding: 10px;
    left:  55px;
    bottom: 25px;
}
.div-fixed {
    border: 9px solid rgb(233, 139, 25);
    /* position: fixed; */
    margin: 55px;
    width: auto; 
    bottom: 20px;
    right: 25px; 
}
.div-absolute {
    border: 9px solid rgb(233, 139, 25);
   position: absolute;
   background-color: green;
   left: 20%;
   bottom: 20%;
}
.div-sticky {
    border: 9px solid rgb(233, 139, 25);
   position: sticky;
   background-color: royalblue;
   top: 0%;
   /* left: 35px;  */
}
.z-index {
    position: absolute;
}
img {
    position: absolute;
    z-index: -100;
  }
#over-flow {
    text-align: center;
}
.visible {
    border: 1px solid brown;
    background-color:ghostwhite ;
    width: 200px;
    height: 98px;
    overflow: auto;
    margin-left: 555px
}
.a {
    background-color: royalblue;
    display: inline;
    border: 5px solid black;
}